<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  IgnorableNamespaces="com uap10">

  <Identity Name="passkms"
            Publisher="CN=passkms"
            Version="1.0.0.0"
            ProcessorArchitecture="x64"/>

  <Properties>
    <DisplayName>passkms</DisplayName>
    <PublisherDisplayName>passkms</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Applications>
    <Application Id="App"
                 Executable="passkms-windows.exe"
                 EntryPoint="windows.fullTrustApplication"
                 uap10:RuntimeBehavior="packagedClassicApp"
                 uap10:TrustLevel="mediumIL">
      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="passkms-windows.exe"
                           Arguments="-PluginActivated"
                           DisplayName="passkms Plugin Authenticator">
              <com:Class Id="{a3b2c1d0-e4f5-6789-abcd-ef0123456789}"
                         DisplayName="PasskmsPluginAuthenticator"/>
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>
